body {
    background: linear-gradient(to bottom right, #667eea, #764ba2);
    height: 100vh;
}

.login-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.custom-outline {
    border-color: white;
}

.switch{
    cursor: pointer;
}